<div class="w-4/5 h-full bg-gray-100 py-10 px-20 text-xl shadow-2xl">
    <h2 class="text-center text-3xl font-semibold">Test "Name"</h2>
    <form class="drawing-form" action="../create-drawing.php" method="post">
                <p>Question</p>
                <p>Answer<span id="answer-4"></span></p>
                <input id="question-4" name="" type="hidden">
                <div class="w-full h-96" id="zbeubeu"></div>
                <input type="hidden" name="image11" value="">
                <input type="hidden" name="imageId" value="">
                <hr>
        <button>Submit</button>
    </form>
    <div class="a4-height"></div>
    <div class="a4-height"></div>

</div>