#addNewExamButton {
  height: 40px;
  width: 40px;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  color: black;
}
#addNewExamButton:focus {
  outline: 0px;
}
#addNewExamButton:hover > svg {
  transform: scale(1.05);
}

#addNewExamButton > svg {
  outline: none;
  transition: transform 0.2s linear;
}

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}